body {
  margin: 0;
  font-family: sans-serif;
  background-color: #242424 !important;
  color: white !important;
}

.board {
  width: 480px;
  display: grid;
  grid-template-columns: repeat(8, 60px);
}

.cell {
  height: 60px;
  text-align: center;
}

.left,
.right {
  float: left;
  padding: 3%;
}

.eegg {
  position: absolute;
  right: 0;
  top: 0;
}
