{% extends 'base.html' %}


{% block content %}

<div class="board">
    {% for cell in range(64) %}
    <div class="cell" style="background-color: {{ " #008000" if (cell % 8 + cell // 8) % 2 !=0 else "white" }};">
        {% if cell in pieces_map %}
        {% set image_fname = "images/{piece_id}.png".format(piece_id=pieces_map[cell]) %}
        <img src="{{ url_for('static', filename=image_fname) }}" alt="{{ cell }}">
        {% endif %}
    </div>
    {% endfor %}
</div>

<form name="user-info" method="post" , action="/login">
    <input id="login" name="login" type="text" placeholder="Login">
    <input id="password" name="password" type="password" placeholder="Password">
    <input type="submit">
</form>

<div>
    <a href="https://www.chesscoachonline.com/chess-articles/chess-rules">Rules</a>
</div>
<div>
    <a href="{{ url }}">Solve it on chess.com</a>
</div>

{% endblock content %}